@import "../../assets/scss/variables.scss";

.container {
  background: $bg-secondary;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  transition: transform .3s ease-in-out;
  
  position: fixed;
  z-index: 2;

  &_opened {
    transform: translateX(0);
  }

  &__nav {
    margin: 0 auto;
    margin-top: 10rem;

    &_link {
      text-align: center;
      color: $color-secondary;
      display: block;
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
      margin-bottom: 1rem;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }

  &Socials {
    flex-direction: row;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    background: $bg-primary;
    width: auto;
    height: auto;
    transform: translateX(0);
    animation: none;

    &__nav {
      margin: 0;
      
      &_link {
        color: $color-primary;
        text-transform: lowercase;
        font-size: 1rem;
        text-decoration: none;
        display: inline;
        padding: .5rem 1rem;
        margin: 0 .5rem;
        transition: background-color .3s linear;
        border-radius: .5rem;

        &:hover {
          background-color: darken($bg-primary, 5%);
        }

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
