@import "../../assets/scss/variables.scss";

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.wrapper {
  width: 100%;
  animation: slideInLeft 0.3s ease-out 1;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 4rem;
  }

  &Intro {
    display: block;
    margin-top: 4rem;

    @media screen and (min-width: 768px) {
      grid-column: 2/3;
      grid-row: 1/2;
      margin-right: auto;
      max-width: 90%;
    }

    &Title {
      font-size: 1.5rem;
      color: $color-brand;
      font-weight: 500;
      margin: 1rem 0;
      text-align: left;

      @media screen and (min-width: 768px) {
        font-size: 2rem;
      }
    }

    &Paragraph {
      color: #898989;
      font-size: 1rem;
      margin: 0;
    }
  }

  &Form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;

    @media screen and (min-width: 768px) {
      grid-column: 1/2;
      grid-row: 1/3;
      align-self: center;
      justify-self: center;
      margin-left: auto;
      max-width: 90%;
    }

    &Errors {
      display: inline-flex;
      font-size: 0.75rem;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;

      &Error {
        display: inline-block;
        background: #f32b2b;
        color: $color-secondary;
        padding: 0.5rem;
        border-radius: 0.5rem;
        @include box-shadow;
        margin-top: 0.75rem;
        animation: slideInLeft 0.3s ease-out 1;
      }
    }
  }

  &Submit {
    display: block;
    margin: 2rem 0 0;

    @media screen and (min-width: 768px) {
      grid-column: 2/3;
      grid-row: 2/2;
      margin-right: auto;
      max-width: 90%;
    }

    &Title {
      font-size: 0.66rem;
      color: #898989;
      text-align: center;
      margin: 0;
      margin-bottom: 0.5rem;

      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }
  }
}
