@import '../assets/scss/variables.scss';

.container {
    display: block;

    &__heading {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        color: $color-primary;
        font-size: 2rem;
        font-weight: 600;

        &Sub {
            color: $color-brand;
        }
    }
}