@import "../../assets/scss/variables.scss";

.pageTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: $color-primary;
  font-size: 2rem;
  font-weight: 600;

  &Green {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: $color-brand;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }

  &_Sub {
    color: $color-brand;
  }

  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }
}
