@import "../../assets/scss/variables.scss";

.container {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 3;

  &_menuOpened {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }

  &__img {
    max-width: 2rem;
    display: inline-block;
    animation: fadeIn 0.3s linear 1;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &__text {
    font-size: 1rem;
    font-weight: 500;
    color: $color-primary;
    display: inline;
    text-decoration: none;
    padding-left: 0.5rem;
    transition: color 0.3s linear;

    &_menuOpened {
      color: $color-secondary;
    }
  }
}
