@import "../../assets/scss/variables.scss";

@keyframes slideInRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.h1 {
  animation: slideInRight 0.3s ease-out 1;
}
