@import "../../assets/scss/variables.scss";

@keyframes slideInRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  animation: slideInRight 0.3s ease-out 1;

  width: 100vw;
  height: 100vh;
  background: $bg-secondary;
  color: $color-secondary;
}
