@import "../../assets/scss/variables.scss";

.wrapper {
  display: block;
  margin-top: 4rem;

  &Title {
    font-size: 1.5rem;
    color: $color-brand;
    font-weight: 500;
    margin: 1rem 0;
    text-align: left;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &Paragraph {
    color: #898989;
    font-size: 1rem;
    margin: 0;
  }
}
