@import "../../assets/scss/variables.scss";

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.wrapper {
  width: 100%;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  animation: slideInLeft 0.3s ease-out 1;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
}
