@import "../../assets/scss/variables.scss";

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.wrapper {
  position: relative;
  animation: slideInLeft 0.3s ease-out 1;
  margin: 0 auto;

  &Intro {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      justify-items: flex-start;
      margin-top: 4rem;
    }

    &Avatar {
      @media screen and (min-width: 768px) {
        width: 100%;
        max-width: 500px;
        margin-right: 1.5rem;
      }

      &Image {
        max-width: 200px;
        margin: 0 auto;
        display: block;
        @include box-shadow;
        border-radius: 50%;

        @media screen and (min-width: 768px) {
          width: 100%;
          max-width: 500px;
          border-radius: 0;
        }
      }
    }

    &Description {
      @media screen and (min-width: 768px) {
        width: 100%;
        max-width: 500px;
        margin-left: 1.5rem;
        padding-right: 3rem;
      }
      @media screen and (min-width: 1024px) {
        padding-right: 0;
      }
      &Heading {
        font-size: 1.5rem;
        color: $color-primary;
        font-weight: 500;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        text-align: center;

        @media screen and (min-width: 768px) {
          font-size: 2rem;
          text-align: left;
          line-height: 1.2em;
        }
      }
      &Paragraph {
        font-size: 1rem;
        font-weight: 400;
        text-align: justify;
        margin: 0;
        margin-bottom: 0.5rem;
        &Link {
          color: $color-brand;
          text-decoration: none;
          font-size: 1rem;
          font-weight: 500;
          text-align: left;
          display: inline;

          border-bottom: 3px solid $color-brand;

          @media screen and (min-width: 968px) {
            border: none;
            transition: border 200ms linear;

            &:hover,
            &:focus {
              border-bottom: 3px solid $color-brand;
            }
          }
        }
      }
    }
  }

  & .Socials__container {
    position: absolute;
    bottom: 50px;
    right: 1.66rem;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
