@import "../../assets/scss/variables.scss";

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__link {
    display: block;
    text-decoration: none;

    &_image {
      width: 2rem;
      @media screen and (min-width: 768px) {
        width: 50px;
      }
    }
  }
}

.containerDefault {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
