@import "../../assets/scss/variables.scss";

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__link {
    display: block;
    text-decoration: none;

    &_image {
      width: 2rem;
      @media screen and (min-width: 1024px) {
        width: 3rem;
      }
    }
  }
}

.containerDefault {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1367px) {
    right: calc((100vw - 1366px) / 2);
  }
}
