@import "../../assets/scss/variables.scss";

.button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;
  width: 68px;
  margin: auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;

  &:hover &Line {
    &:nth-child(2) {
      width: 100%;
    }

    &:last-child {
      width: 100%;
    }

    &Opened::nth-child(n) {
      width: 100%;
    }
  }

  &Line {
    display: block;
    margin-top: 5px;
    height: 5px;
    border-radius: 3px;
    background: $bg-secondary;
    transition: transform 0.3s ease-in-out;

    &:nth-child(1) {
      margin-top: 0;
      width: 100%;
    }

    &:nth-child(2) {
      width: 50%;
      transition: width 300ms ease;
    }

    &:last-child {
      width: 75%;
      transition: width 300ms ease;
    }

    &Opened {
      display: block;
      margin-top: 5px;
      height: 5px;
      border-radius: 3px;
      background: $bg-primary;
      transition: transform 0.3s ease-in-out;
      transform-origin: 10px 3px;

      &:nth-child(1) {
        margin-top: 0;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateX(200%);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  @media screen and (max-width: 967px) {
    &:active &Line {
      &:nth-child(1) {
        margin-top: 0;
        width: 100%;
      }

      &:nth-child(2) {
        width: 50%;
        transition: width 300ms ease;
      }

      &:last-child {
        width: 75%;
        transition: width 300ms ease;
      }
    }

    &:focus &Line {
      &:nth-child(1) {
        margin-top: 0;
        width: 100%;
      }

      &:nth-child(2) {
        width: 50%;
        transition: width 300ms ease;
      }

      &:last-child {
        width: 75%;
        transition: width 300ms ease;
      }
    }
  }
}
