@import "../../assets/scss/variables.scss";

.wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 4rem auto 0;
  position: relative;

  &Controls {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -3rem;
    left: 0;

    &Btn {
      padding: 0.75rem 1.25rem;
      background: $color-brand;
      color: $color-secondary;
      border: none;
      font-weight: 600;
      border-radius: 1rem;
      line-height: 1;
      letter-spacing: 0.1rem;
      cursor: pointer;
      font-size: 1rem;
      text-transform: uppercase;
      box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s linear;

      &:active {
        transform: scale(0.97);
      }
    }

    @media screen and (min-width: 768px) {
      justify-content: flex-end;
      &Btn {
        margin: 0 1rem;
      }
    }
  }

  &Slides {
    overflow-x: hidden;
    &Wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      flex-shrink: 0;
      transition: transform 0.5s ease-in-out;
    }
  }
}
